[API_KEYS]
unstructured_api_key = your_unstructured_api_key
unstructured_url = https://api.unstructuredapp.io
openai_api_key = your_openai_api_key

[DIRECTORIES]
input_dir = ./data/input
output_dir = ./data/output

[MODEL]
embedding_model = meta-llama/Meta-Llama-3-8B-Instruct
llm_model = gpt-4o

[SUPABASE]
supabase_url = your_supabase_url
supabase_key = your_supabase_key

[PDF_PROCESSING]
save_bbox_images = True
save_document_elements = True
logging_level = CRITICAL
show_progressbar = True